body {
  background: url(https://t3.ftcdn.net/jpg/03/57/88/88/360_F_357888819_XvattGqyaKLQtZ9JfW1QVTRVTaLkItug.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
}